.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: flex-start;
  justify-content: space-between;
  //width: 330px;
  font-size: 25px;
  margin-bottom: 10px;

  .success-title {
    font-style: italic;
    padding: 5px 15px;
    font-size: 45px;
    color: white;
    background: black;
    margin-bottom: 10px;
  }
  img {
    width: 50px;
    height: 50px;
  }

  .info-button {
    align-self: flex-end;
  }
}

.apply {
  flex-grow: 1;
  height: 500px;
  display: flex;
  padding-top: 50px;

  .text-info {
    padding-top: 50px;

    .comment {
      background-color: white;
      color: black;
      border-radius: 10px;
      padding: 5px;
      font-size: 20px;
      margin-bottom: 30px;

      &:after {
        content: ''
      }
    }

  }

  img {
    max-height: 100%;
  }
}
